---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: elasticsearch-operator
  namespace: openshift-operators
spec:
  channel: stable
  installPlanApproval: {{ .Values.approval_strategy }}
  name: elasticsearch-operator
  source: redhat-operators
  sourceNamespace: openshift-marketplace
...
